:root {
  scroll-behavior: smooth;
}

.logo {
  width: 90px;
  height: 70px;
  float: left;
  padding: 2px;
}


.nav-link0 {
  color: #ffffff;
  padding: 10px 25px;
  width: auto;
  border-radius: 30px;
  margin-left: 90px;
  background-image: linear-gradient(235deg, rgb(42, 147, 165) 0, rgb(42, 85, 165) 25%, rgb(73, 126, 224) 50%, rgba(0, 0, 255, 0.521) 75%, rgba(0, 0, 255, 0.562) 100%);
}

.nav-link {
  margin-left: 90px;
}

.tile {
  margin: 50px;
}


.icon8 {
  width: 100px;
  align-self: center;
  margin-top: 30px;
}

.card0 {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  border: 3px solid rgba(0, 0, 0, 0.582);
  border-radius: 30px;
  height: 300px;
  --b: 0.3em;
  /* the thickness of the line */
  --c: #03b3ee;
  /* the color */

  color: #0000;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 1s var(--_s, 0s) linear, background-size .4s calc(1s - var(--_s, 0s));
}

.card0:hover {
  background-color: rgba(247, 231, 215, 0.671);
   box-shadow: rgba(0, 80, 252, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --_p: 100%;
  --_s: .2s;
}

#boxhoverr {
  --b: 0.3em;
  /* the thickness of the line */
  --c: #1095c1;
  /* the color */
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 1.2s var(--_s, 0s) linear, background-size 1s calc(1s - var(--_s, 0s));
}

#boxhoverr:hover {
  color: #007aff;
  --_p: 100%;
  --_s: .2s;
}

.card-title {
  font-size: 25px;
  text-align: center;
}

.marq:hover {
  color: #00aaff;
}

.card-title:hover {
  font-size: 25px;
  text-align: center;
  color: #00aaff;
}


ul.horizontal-list li {
  display: inline-block;
}

.icon-box {
  width: 160px;
  height: 160px;
  font-size: 60px;
  border-radius: 50%;
  border: 3px solid;
  text-align: center;
  align-self: center;
  padding-top: 30px;

}


.faqQ {
  width: 80%;
  margin-left: 10%;
}

footer .card-title {
  color: white;
}

.card-title1 {
  font-size: 25px;
  text-align: center;
}

.card-text {
  text-align: center;
}

footer .card {
  background-color: black;
}

.soicon {
  height: 35px;
  width: 35px;
  float: right;
  margin-left: 10px;
}

.sericon {
  width: 130px;
  padding-bottom: 10px;
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #02abff;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: fit-content;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00aaff;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.iconnt {
  width: 100px;
  padding: 10px;

}

.iconntt {
  width: 150px;
  padding: 10px;

}

.iconntt:hover {
  background-color: rgb(216, 199, 185);
  padding: 10px;

}


.iconnt:hover {
  background-color: rgb(216, 199, 185);
  padding: 10px;
}




.soicon:hover {
  background-color: rgb(219, 215, 211);
  padding: 10px;
}

.btn {
  overflow-wrap: break-word;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.about-top-text {
  text-align: center;
  color: black;
}

.centered {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#numberscard {
  border: solid rgb(10, 3, 109);
  border-width: 1px 1px 1px 8px;
  border-radius: 20px;
  background-color: white;
  align-self: center;
}

#numberscard:hover {
  color: whitesmoke;
  background-image: linear-gradient(235deg, rgba(165, 42, 42, 0.452) 0, rgba(165, 42, 42, 0.438) 25%, rgb(73, 126, 224) 50%, rgba(0, 0, 255, 0.452) 75%, rgba(0, 0, 255, 0.452) 100%);

}

#numtitle {
  font-size: 40px;
  color: blue;

}





/* contact form */

.gettouch {
  text-align: left;
  color: black;
}

.slider {
  -webkit-appearance: none;
  height: 30px;
  background: #6b5656;
  outline: none;
  opacity: 1;
  border-radius: 50px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 5;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgb(226, 36, 36);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #1df841;
  cursor: pointer;
}

#continfo {
  background-color: whitesmoke;
  color: black;
  width: 95%;
  padding: 30px;
  margin: 0 0 0 5%;
  border-radius: 10px;
  border: solid black;
  border-width: 1px 1px 1px 8px;
  @media (max-width: 576px)
}

h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 3rem;
}



